.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
}

.categoryCont {
    display: flex;
    font-size: 16px;
    font-weight: 400;
    color: #1D1F22;
    text-transform:uppercase;
    height: 78px;
}

.category {
    padding: 0 17px;
    text-align: center;
    line-height: 80px;
}

.categoryAfter {
    font-weight: 600;
    line-height: 80px;
    color: #5ECE7B;
    border-bottom: 2px solid #5ECE7B;
}

.cont1 {
    display: flex;
}

.currencyCont {

}

.logo {
    width: 32px;
    height: 32px;
}
